

.chavasse-padding {
    margin-top: 10px;
}


.full-width-image {
  height: 500px; 
  background: url("../img/01.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position-y: -100px;
}

.marketing {
    text-align: center;
}

